apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
  labels:
    app.kubernetes.io/name: slack-bot
  name: slack-bot
rules:
- apiGroups:
  - '*'
  resources:
  - pods
  - deployments
  - namespaces
  - services
  - replicasets
  - statefulsets
  - daemonsets
  - configmaps
  - ingresses
  - persistentvolumeclaims
  - persistentvolumes
  - rolebindings
  - roles
  - serviceaccounts
  - clusterrolebindings
  - clusterroles
  verbs:
  - list
  - get
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - list
- apiGroups:
  - ""
  resources:
  - pods
  - pods/log
  verbs:
  - get
- apiGroups:
  - argoproj.io
  resources:
  - applications
  - applicationsets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
- apiGroups:
  - argoproj.io
  resources:
  - workflows
  verbs:
  - get
  - list
